@font-face {
  font-family: StarJedi;
  src: url(font/Starjedi.ttf);
}

#canvas {
    border: 4px solid white;
}
 body {
      margin: 0;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-image: url(Slike/background.jpg);
    
    }
  #naslov{
    position: absolute;
    margin-top: -800px;
    color: white;
  }
  .meni1{
    position: absolute;
    color: white;
    margin-left: 1200px;
    font-size: 50px;
    font-family: "Tahoma";
  }
  #tocke{
    background-color: white;
  }
  #cas{
    background-color: white;
  }
  .swal2-title {
    position: relative;
    color: white;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    font-family: "bricks";
}

.swal2-html-container {
    z-index: 1;
    justify-content: center;   
    color: white;
    font-size: 17px;
    text-align: center;
	letter-spacing:0.5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}